@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    height: 100%;
}

.content table {
    margin: 0 5rem;
    border-collapse: collapse;
}

table td, th  {
    padding: 0.7rem 1.3rem;
    border-bottom: 1px solid #EEEEEE;
}

table th {
    border-top: 1px solid #EEEEEE;
}

.number-align {
    text-align: right;
}

.dataIndex {
    text-transform: capitalize;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.heading {
    font-family: 'Roboto', sans-serif;
    padding: 0.3rem 2rem;
}

.timeBlock {
    margin: 0 2rem;
    padding: 0.5rem 0;
}

#updatedTime {
    font-weight: 700;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 640px)
and (-webkit-min-device-pixel-ratio: 2) {

    .content table {
        margin: 0 0;
        width: 100%;
        height: 100%;
    }

    table td, th {
        padding: 0.3rem 0.9rem;
    }

    .content {
        display: block;
        width: 100%;
        height: 80%;
        overflow-x: scroll;
    }

    .headerIndex, .dataIndex {
        position: -webkit-sticky;
        position: sticky;
        background-color: white;
        left: 0;
    }

    .content table thead {
        position: -webkit-sticky;
        position: sticky;
        background-color: white;
        top: 0;
        z-index: 1;
    }

    #tableBody {
        overflow-y: scroll;
        height: 100%;
    }
}
