@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

div table {
    margin: 0 5rem;
    border-collapse: collapse
}

table td, th  {
    padding: 0.5rem;
    border-bottom: 1px solid #EEEEEE;
}

table th {
    border-top: 1px solid #EEEEEE;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.heading {
    font-family: 'Roboto', sans-serif;
    padding: 0.3rem 2rem;
}

.timeBlock {
    margin: 0 2rem;
    padding: 0.5rem 0;
}

#updatedTime {
    font-weight: 700;
}

