@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

.heading {
    font-family: 'Roboto', sans-serif;
    padding: 0.3rem 2rem;
}
